@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  .hero::before {
    content: "";
    position: absolute;
    width: 270px;
    height: 270px;
    background: radial-gradient(circle, #4f46e5, #4f46e5);
    border-radius: 50%;
    top: 40%;
    left: -8%;
    z-index: 2;
    opacity: 0.7;
  }

  .img-blur::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 40%;
    transform: translateX(-50%);
    width: 100%;
    top: 93%;
    height: 60px;
    background-color: linear-gradient(
      
      rgba(4, 7, 29, 1) 0%,
      rgba(12, 14, 35, 1) 100%
    );
    background: rgba(4, 7, 29);
    filter: blur(11px);
    z-index: 300;
    border-radius: 50%;
    pointer-events: none;
  }

  @media screen and (max-width: 768px) {
    .hero::before {
      top: 40%;
      left: -3%;
    }
  }

  @media screen and (max-width: 571px) {
    .hero::before {
      top: 40%;
      left: 18%;
    }
  }

  @media screen and (max-width: 459px) {
    .hero::before {
      top: 40%;
      left: 14%;
    }
  }

  @media screen and (max-width: 427px) {
    .hero::before {
      top: 40%;
      left: 12%;
    }
  }

  @media screen and (max-width: 414px) {
    .hero::before {
      top: 40%;
      left: 10%;
    }
  }

  @media screen and (max-width: 376px) {
    .hero::before {
      top: 40%;
      left: 7%;
    }
  }

  .black-gradient {
    background: linear-gradient(90deg, #161a31 0%, #06091f 100%);
  }
}
